/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 500px;*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Modifications cahier de vie */

.navbar-brand {
    font-size: 25px;
}

.navbar-brand.active {
    color: #ffffff;
}

.carousel {
    margin-bottom: 15px;
}

@media screen and (max-width: 767px){
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        max-width: inherit;
    }
}

@media screen and (min-width: 1550px){
    .carousel-inner > .item > img {
      margin-left: -25%;
      padding-left: 50%;
    }
}

@font-face {
    font-family: "IndieFlower";
    src: url('../fonts/IndieFlower.ttf');
}

.container.marketing .title{
    margin-bottom: 3rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#promo{
    position: absolute;
    top: 370px;
    right: 30px;
}

#promo > img.stores{
    width: 175px;
}

.navbar-header{
    width: 100%;
    
}

.navbar-header h2{
    color: #E76C9D;
    font-size: 22px;
    line-height: 1.8rem;
    font-family: "IndieFlower";
    float: left;
    margin-left: 1rem;
}

.item:nth-child(1) .carousel-caption {
    top: 29%;
    right: 10%;
    bottom: auto;
    left: 33%;
}
.item:nth-child(2) .carousel-caption {
    top: 31%;
    right: 35%;
    bottom: auto;
    left: 14%;
}
.item:nth-child(3) .carousel-caption {
    top: 33%;
    right: 11%;
    bottom: auto;
    left: 41%;
}

@media screen and (max-width: 767px){
    .item:nth-child(1) .carousel-caption,
    .item:nth-child(2) .carousel-caption,
    .item:nth-child(3) .carousel-caption {
        top: 32%;
        right: 15%;
        bottom: auto;
        left: 15%;
    }
}

@media screen and (max-width: 991px){
    #myCarousel{
        margin-top: -140px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1549px){
    .item:nth-child(1) .carousel-caption {
        top: 30%;
        right: 12%;
        bottom: auto;
        left: 44%;
    }
    .item:nth-child(2) .carousel-caption {
        top: 34%;
        right: 46%;
        bottom: auto;
        left: 17%;
    }
    .item:nth-child(3) .carousel-caption {
        top: 35%;
        right: 19%;
        bottom: auto;
        left: 45%;
    }
}

@media screen and (min-width: 1550px){
    .item:nth-child(1) .carousel-caption,
    .item:nth-child(2) .carousel-caption,
    .item:nth-child(3) .carousel-caption {
        max-width: 30%;
    }

    .item:nth-child(1) .carousel-caption {
        top: 30%;
        right: 31%;
        bottom: auto;
        left: 41%;
    }
    .item:nth-child(2) .carousel-caption {
        top: 34%;
        right: 45%;
        bottom: auto;
        left: 31%;
    }
    .item:nth-child(3) .carousel-caption {
        top: 35%;
        right: 31%;
        bottom: auto;
        left: 45%;
    }

    .carousel .item {
        background-color: rgba(119, 119, 119, 0.20);
    }

    .carousel-control {
        left: 25%;
        width:6%;
    }
    .carousel-control.right{
        right: 25%;
        width:8%;
    }
    #promo {
        right: 25.5%;
    }
}

.carousel-indicators {
    bottom: 15px;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.56);
    border-color: #E76C9D;
    border-bottom-width: 2px;
}

/*.carousel-control.left {

background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.right {
    background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.38) 0, rgba(0, 0, 0, 0.001) 100%);
    background-repeat: repeat-x;
    right: 0;
    left: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}*/